# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
.next/
out/
dist/
build/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
